div {
    display: inline-block;
    height: 20px;
    margin-top: -15px;
    padding: 8px;
}


.yellow-box {
    background: #ffc107;
    margin-left: 20px;
      
}
.black-box {
    background:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

   
}